<div class="card">
  <div class="card-header bg-primary text-white">
    <h5>
      {{ customer.id + ". " + customer.firstName + " " + customer.lastName }}
    </h5>
    <span class="float-right" (click)="deleteCustomer(customer)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-x"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
        /></svg
    ></span>
    CreateAt: {{ customer.createAt | date: "short" }}
  </div>
  <div class="card-body">
    <h5 class="card-title">City: {{ customer.city }}</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Phone: {{ customer.phone }}</li>
      <li class="list-group-item">Description: {{ customer.description }}</li>
    </ul>
    <span class="float-right blockquote-footer">
      Last updated: {{ customer.updatedAt | date: "short" }}</span
    >
    <br />
    <button
      type="button"
      class="btn btn-primary m-2"
      (click)="editCustomer(customer.id)"
    >
      Edit
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteCustomer(customer)"
    >
      Delete
    </button>
  </div>
</div>
